:root {
  --color-white: #fcfbfa;
  --color-black: #0c1f2e;
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto auto auto;
  row-gap: 10px;
  column-gap: 00.5em;
  margin: 0 auto;
  max-width: auto;
  padding: 1em 0;
  font-family: 'Roboto', sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
}

h1,
h2,
h3 {
  font-weight: 400;
}

input,
button {
  font-size: 1em;
}

nav {
  background: mediumturquoise;
  grid-column: 2/3;
  display: grid;
  align-items: baseline;
  justify-content: center;
}

header {
  grid-column: 1/4;
  background: mediumturquoise;
  display: grid;
  align-items: center;
  justify-content: center;
}

main {
  background: purple;
  grid-column: 2/3;
}

footer {
  grid-column: 1/4;
  background: red;
}

/* Specific Styles */
body {
  padding: 1em 0;
}

figure {
  text-align: center;
}

img {
  max-width: 100%;
}
/* Specific Styles */

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
}
