.ul__navigation-list {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  height: 100%;
}

.ul__navigation-item {
  margin: 0 10px;
}

.ul__portfolio-list {
  list-style: none;
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  height: 100%;
}

.ul__portfolio-item {
  margin: 0 10px;
}

.ul__skills-list {
  list-style: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding-left: 0px;
}

.ul__skills-item {
  margin: 10px;
  background-image: linear-gradient(to right, --color-font, --color-links);
  box-shadow: 2px 2px 2px var(--color-links);
  padding-right: 3px;
  padding-left: 3px;
  border-radius: 2px;
}
